{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Online Bookstore</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="ml-[15px] grid grid-cols-3 gap-2" style="grid-auto-rows: 900px;">
    {% for book in books %}
        <div class="border border-black flex flex-col items-center justify-center">
            <p> {{book.title}} by {{book.authors}}
            <p> Publishers: {{book.publishers}} </p>
            <img src="data:image/jpeg;base64,{{ book.image }}" class="w-[60%] h-[60%] object-cover border border-black" alt="Image">
            <p> Description: {{book.description}} </p>
            <p> Category: {{book.category}} </p>
            <p> Language: {{book.language}} </p>
            <p> Page Count: {{book.page_count}} </p>
            <p> In Stock: {{book.book_count}} </p>
            <p> Price ${{book.price}} </p>
            <button class="border" onclick="addToCart({{book.id}})"> Order This Book </button>
        </div>
    {% endfor %}
    <div>
</body>
</html>