{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Online Bookstore</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% if cart_items %}
    <p class="text-center mt-3"> Order Summary: </p> 
    {% for cart_item in cart_items %}
        <div class="border border-black flex flex-col items-center justify-center mx-[25%]">
            <p> {{cart_item.title}} by {{ cart_item.authors }} </p>
            <img src="data:image/jpeg;base64,{{ cart_item.image }}" class="w-[20%] h-[20%] object-cover border border-black" alt="Image">
            <p> Qunatity: {{cart_item.quantity}} </p>
        </div>
    {% endfor %}
    <p class="text-center mt-2"> Total Amount before taxes: ${{total_price}} </p>
    <div class="flex items-center justify-center">
        <button class="bg-emerald-500 px-2 border-3 rounded-full" onclick="placeOrder()"> Order Now!!! </button>
    </div>
    {% else %}
        <p class="text-center mt-3"> No items have been added! </p>
    {% endif %}
</body>
</html>